<div class="app-editor-2-2 ui-layout-pane ui-layout-pane-center ui-layout-container"
     style="position: absolute; margin: 0px; left: 452px; right: 0px; top: 0px; bottom: 0px; height: 895px; width: 574px; z-index: 0; display: block; visibility: visible; overflow: hidden;">
    <div class="app-editor-2-2-1 ui-layout-pane ui-layout-pane-center"
         style="position: absolute; margin: 0px; left: 0px; right: 10px; top: 10px; bottom: 448px; height: 437px; width: 564px; z-index: 0; display: block; visibility: visible;">
        <div class="am-editor-chart" id="am-editor-chart"
             style="overflow: hidden; text-align: left; background-color: rgb(255, 255, 255);">
            <div class="amcharts-main-div" style="position: relative; width: 100%; height: 100%;">
                <div class="amcharts-chart-div"
                     style="overflow: hidden; position: relative; text-align: left; width: 564px; height: 389px; padding: 0px; touch-action: auto;">
                    <svg version="1.1" style="position: absolute; width: 564px; height: 389px; top: 0px; left: 0px;">
                        <desc>JavaScript chart by amCharts 3.21.9</desc>
                        <g>
                            <path cs="100,100" d="M0.5,0.5 L563.5,0.5 L563.5,388.5 L0.5,388.5 Z" fill="#FFFFFF"
                                  stroke="#000000" fill-opacity="0" stroke-width="1" stroke-opacity="0"></path>
                            <path cs="100,100" d="M0.5,0.5 L486.5,0.5 L486.5,300.5 L0.5,300.5 L0.5,0.5 Z" fill="#FFFFFF"
                                  stroke="#000000" fill-opacity="0" stroke-width="1" stroke-opacity="0"
                                  transform="translate(57,53)"></path>
                        </g>
                        <g>
                            <g transform="translate(57,53)">
                                <g>
                                    <path cs="100,100" d="M35.5,0.5 L35.5,5.5" fill="none" stroke-width="1"
                                          stroke-opacity="1" stroke="#000000" transform="translate(0,300)"></path>
                                    <path cs="100,100" d="M0.5,300.5 L0.5,300.5 L0.5,0.5" fill="none" stroke-width="1"
                                          stroke-opacity="0.15" stroke="#000000"></path>
                                </g>
                                <g>
                                    <path cs="100,100" d="M104.5,0.5 L104.5,5.5" fill="none" stroke-width="1"
                                          stroke-opacity="1" stroke="#000000" transform="translate(0,300)"></path>
                                    <path cs="100,100" d="M69.5,300.5 L69.5,300.5 L69.5,0.5" fill="none"
                                          stroke-width="1" stroke-opacity="0.15" stroke="#000000"></path>
                                </g>
                                <g>
                                    <path cs="100,100" d="M174.5,0.5 L174.5,5.5" fill="none" stroke-width="1"
                                          stroke-opacity="1" stroke="#000000" transform="translate(0,300)"></path>
                                    <path cs="100,100" d="M139.5,300.5 L139.5,300.5 L139.5,0.5" fill="none"
                                          stroke-width="1" stroke-opacity="0.15" stroke="#000000"></path>
                                </g>
                                <g>
                                    <path cs="100,100" d="M243.5,0.5 L243.5,5.5" fill="none" stroke-width="1"
                                          stroke-opacity="1" stroke="#000000" transform="translate(0,300)"></path>
                                    <path cs="100,100" d="M208.5,300.5 L208.5,300.5 L208.5,0.5" fill="none"
                                          stroke-width="1" stroke-opacity="0.15" stroke="#000000"></path>
                                </g>
                                <g>
                                    <path cs="100,100" d="M312.5,0.5 L312.5,5.5" fill="none" stroke-width="1"
                                          stroke-opacity="1" stroke="#000000" transform="translate(0,300)"></path>
                                    <path cs="100,100" d="M277.5,300.5 L277.5,300.5 L277.5,0.5" fill="none"
                                          stroke-width="1" stroke-opacity="0.15" stroke="#000000"></path>
                                </g>
                                <g>
                                    <path cs="100,100" d="M382.5,0.5 L382.5,5.5" fill="none" stroke-width="1"
                                          stroke-opacity="1" stroke="#000000" transform="translate(0,300)"></path>
                                    <path cs="100,100" d="M347.5,300.5 L347.5,300.5 L347.5,0.5" fill="none"
                                          stroke-width="1" stroke-opacity="0.15" stroke="#000000"></path>
                                </g>
                                <g>
                                    <path cs="100,100" d="M451.5,0.5 L451.5,5.5" fill="none" stroke-width="1"
                                          stroke-opacity="1" stroke="#000000" transform="translate(0,300)"></path>
                                    <path cs="100,100" d="M416.5,300.5 L416.5,300.5 L416.5,0.5" fill="none"
                                          stroke-width="1" stroke-opacity="0.15" stroke="#000000"></path>
                                </g>
                                <g>
                                    <path cs="100,100" d="M486.5,300.5 L486.5,300.5 L486.5,0.5" fill="none"
                                          stroke-width="1" stroke-opacity="0.15" stroke="#000000"></path>
                                </g>
                            </g>
                            <g transform="translate(57,53)" visibility="visible">
                                <g>
                                    <path cs="100,100" d="M0.5,300.5 L6.5,300.5" fill="none" stroke-width="1"
                                          stroke-opacity="1" stroke="#000000" transform="translate(-6,0)"></path>
                                    <path cs="100,100" d="M0.5,300.5 L0.5,300.5 L486.5,300.5" fill="none"
                                          stroke-width="1" stroke-opacity="0.15" stroke="#000000"></path>
                                </g>
                                <g>
                                    <path cs="100,100" d="M0.5,267.5 L6.5,267.5" fill="none" stroke-width="1"
                                          stroke-opacity="1" stroke="#000000" transform="translate(-6,0)"></path>
                                    <path cs="100,100" d="M0.5,267.5 L0.5,267.5 L486.5,267.5" fill="none"
                                          stroke-width="1" stroke-opacity="0.15" stroke="#000000"></path>
                                </g>
                                <g>
                                    <path cs="100,100" d="M0.5,233.5 L6.5,233.5" fill="none" stroke-width="1"
                                          stroke-opacity="1" stroke="#000000" transform="translate(-6,0)"></path>
                                    <path cs="100,100" d="M0.5,233.5 L0.5,233.5 L486.5,233.5" fill="none"
                                          stroke-width="1" stroke-opacity="0.15" stroke="#000000"></path>
                                </g>
                                <g>
                                    <path cs="100,100" d="M0.5,200.5 L6.5,200.5" fill="none" stroke-width="1"
                                          stroke-opacity="1" stroke="#000000" transform="translate(-6,0)"></path>
                                    <path cs="100,100" d="M0.5,200.5 L0.5,200.5 L486.5,200.5" fill="none"
                                          stroke-width="1" stroke-opacity="0.15" stroke="#000000"></path>
                                </g>
                                <g>
                                    <path cs="100,100" d="M0.5,167.5 L6.5,167.5" fill="none" stroke-width="1"
                                          stroke-opacity="1" stroke="#000000" transform="translate(-6,0)"></path>
                                    <path cs="100,100" d="M0.5,167.5 L0.5,167.5 L486.5,167.5" fill="none"
                                          stroke-width="1" stroke-opacity="0.15" stroke="#000000"></path>
                                </g>
                                <g>
                                    <path cs="100,100" d="M0.5,133.5 L6.5,133.5" fill="none" stroke-width="1"
                                          stroke-opacity="1" stroke="#000000" transform="translate(-6,0)"></path>
                                    <path cs="100,100" d="M0.5,133.5 L0.5,133.5 L486.5,133.5" fill="none"
                                          stroke-width="1" stroke-opacity="0.15" stroke="#000000"></path>
                                </g>
                                <g>
                                    <path cs="100,100" d="M0.5,100.5 L6.5,100.5" fill="none" stroke-width="1"
                                          stroke-opacity="1" stroke="#000000" transform="translate(-6,0)"></path>
                                    <path cs="100,100" d="M0.5,100.5 L0.5,100.5 L486.5,100.5" fill="none"
                                          stroke-width="1" stroke-opacity="0.15" stroke="#000000"></path>
                                </g>
                                <g>
                                    <path cs="100,100" d="M0.5,67.5 L6.5,67.5" fill="none" stroke-width="1"
                                          stroke-opacity="1" stroke="#000000" transform="translate(-6,0)"></path>
                                    <path cs="100,100" d="M0.5,67.5 L0.5,67.5 L486.5,67.5" fill="none" stroke-width="1"
                                          stroke-opacity="0.15" stroke="#000000"></path>
                                </g>
                                <g>
                                    <path cs="100,100" d="M0.5,33.5 L6.5,33.5" fill="none" stroke-width="1"
                                          stroke-opacity="1" stroke="#000000" transform="translate(-6,0)"></path>
                                    <path cs="100,100" d="M0.5,33.5 L0.5,33.5 L486.5,33.5" fill="none" stroke-width="1"
                                          stroke-opacity="0.15" stroke="#000000"></path>
                                </g>
                                <g>
                                    <path cs="100,100" d="M0.5,0.5 L6.5,0.5" fill="none" stroke-width="1"
                                          stroke-opacity="1" stroke="#000000" transform="translate(-6,0)"></path>
                                    <path cs="100,100" d="M0.5,0.5 L0.5,0.5 L486.5,0.5" fill="none" stroke-width="1"
                                          stroke-opacity="0.15" stroke="#000000"></path>
                                </g>
                            </g>
                        </g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g>
                            <g transform="translate(57,53)">
                                <g></g>
                                <g clip-path="url(#AmChartsEl-4)">
                                    <path cs="100,100"
                                          d="M35.5,33.83333 L104.5,100.5 L174.5,233.83333 L243.5,267.16667 L312.5,233.83333 L382.5,200.5 L451.5,100.5"
                                          fill="none" stroke-width="1" stroke-opacity="1" stroke="#FF6600"
                                          stroke-linejoin="round"></path>
                                </g>
                                <clipPath id="AmChartsEl-4">
                                    <rect x="0" y="0" width="486" height="300" rx="0" ry="0" stroke-width="0"></rect>
                                </clipPath>
                                <g></g>
                            </g>
                            <g transform="translate(57,53)">
                                <g></g>
                                <g clip-path="url(#AmChartsEl-5)">
                                    <path cs="100,100"
                                          d="M35.5,133.83333 L104.5,67.16667 L174.5,200.5 L243.5,200.5 L312.5,267.16667 L382.5,233.83333 L451.5,33.83333"
                                          fill="none" stroke-width="1" stroke-opacity="1" stroke="#FCD202"
                                          stroke-linejoin="round"></path>
                                </g>
                                <clipPath id="AmChartsEl-5">
                                    <rect x="0" y="0" width="486" height="300" rx="0" ry="0" stroke-width="0"></rect>
                                </clipPath>
                                <g></g>
                            </g>
                        </g>
                        <g></g>
                        <g>
                            <path cs="100,100" d="M0.5,300.5 L486.5,300.5 L486.5,300.5" fill="none" stroke-width="1"
                                  stroke-opacity="0.3" stroke="#000000" transform="translate(57,53)"></path>
                            <g>
                                <path cs="100,100" d="M0.5,0.5 L486.5,0.5" fill="none" stroke-width="1"
                                      stroke-opacity="1" stroke="#000000" transform="translate(57,353)"></path>
                            </g>
                            <g>
                                <path cs="100,100" d="M0.5,0.5 L0.5,300.5" fill="none" stroke-width="1"
                                      stroke-opacity="1" stroke="#000000" transform="translate(57,53)"
                                      visibility="visible"></path>
                            </g>
                        </g>
                        <g></g>
                        <g></g>
                        <g>
                            <g transform="translate(57,53)">
                                <circle r="4" cx="0" cy="0" fill="#FF6600" stroke="#FF6600" fill-opacity="1"
                                        stroke-width="2" stroke-opacity="0" transform="translate(35,33)"
                                        aria-label="graph 1 category 1 8"></circle>
                                <circle r="4" cx="0" cy="0" fill="#FF6600" stroke="#FF6600" fill-opacity="1"
                                        stroke-width="2" stroke-opacity="0" transform="translate(104,100)"
                                        aria-label="graph 1 category 2 6"></circle>
                                <circle r="4" cx="0" cy="0" fill="#FF6600" stroke="#FF6600" fill-opacity="1"
                                        stroke-width="2" stroke-opacity="0" transform="translate(174,233)"
                                        aria-label="graph 1 category 3 2"></circle>
                                <circle r="4" cx="0" cy="0" fill="#FF6600" stroke="#FF6600" fill-opacity="1"
                                        stroke-width="2" stroke-opacity="0" transform="translate(243,267)"
                                        aria-label="graph 1 category 4 1"></circle>
                                <circle r="4" cx="0" cy="0" fill="#FF6600" stroke="#FF6600" fill-opacity="1"
                                        stroke-width="2" stroke-opacity="0" transform="translate(312,233)"
                                        aria-label="graph 1 category 5 2"></circle>
                                <circle r="4" cx="0" cy="0" fill="#FF6600" stroke="#FF6600" fill-opacity="1"
                                        stroke-width="2" stroke-opacity="0" transform="translate(382,200)"
                                        aria-label="graph 1 category 6 3"></circle>
                                <circle r="4" cx="0" cy="0" fill="#FF6600" stroke="#FF6600" fill-opacity="1"
                                        stroke-width="2" stroke-opacity="0" transform="translate(451,100)"
                                        aria-label="graph 1 category 7 6"></circle>
                            </g>
                            <g transform="translate(57,53)">
                                <path cs="100,100" d="M-3.5,4.5 L4.5,4.5 L4.5,-3.5 L-3.5,-3.5 Z" fill="#FCD202"
                                      stroke="#FCD202" fill-opacity="1" stroke-width="2" stroke-opacity="0"
                                      transform="translate(35,133)" aria-label="graph 2 category 1 5"></path>
                                <path cs="100,100" d="M-3.5,4.5 L4.5,4.5 L4.5,-3.5 L-3.5,-3.5 Z" fill="#FCD202"
                                      stroke="#FCD202" fill-opacity="1" stroke-width="2" stroke-opacity="0"
                                      transform="translate(104,67)" aria-label="graph 2 category 2 7"></path>
                                <path cs="100,100" d="M-3.5,4.5 L4.5,4.5 L4.5,-3.5 L-3.5,-3.5 Z" fill="#FCD202"
                                      stroke="#FCD202" fill-opacity="1" stroke-width="2" stroke-opacity="0"
                                      transform="translate(174,200)" aria-label="graph 2 category 3 3"></path>
                                <path cs="100,100" d="M-3.5,4.5 L4.5,4.5 L4.5,-3.5 L-3.5,-3.5 Z" fill="#FCD202"
                                      stroke="#FCD202" fill-opacity="1" stroke-width="2" stroke-opacity="0"
                                      transform="translate(243,200)" aria-label="graph 2 category 4 3"></path>
                                <path cs="100,100" d="M-3.5,4.5 L4.5,4.5 L4.5,-3.5 L-3.5,-3.5 Z" fill="#FCD202"
                                      stroke="#FCD202" fill-opacity="1" stroke-width="2" stroke-opacity="0"
                                      transform="translate(312,267)" aria-label="graph 2 category 5 1"></path>
                                <path cs="100,100" d="M-3.5,4.5 L4.5,4.5 L4.5,-3.5 L-3.5,-3.5 Z" fill="#FCD202"
                                      stroke="#FCD202" fill-opacity="1" stroke-width="2" stroke-opacity="0"
                                      transform="translate(382,233)" aria-label="graph 2 category 6 2"></path>
                                <path cs="100,100" d="M-3.5,4.5 L4.5,4.5 L4.5,-3.5 L-3.5,-3.5 Z" fill="#FCD202"
                                      stroke="#FCD202" fill-opacity="1" stroke-width="2" stroke-opacity="0"
                                      transform="translate(451,33)" aria-label="graph 2 category 7 8"></path>
                            </g>
                        </g>
                        <g>
                            <g></g>
                            <text y="8" fill="#000000" font-family="Verdana" font-size="15px" opacity="1"
                                  font-weight="bold" text-anchor="middle" transform="translate(301,20)"
                                  style="pointer-events: none;">
                                <tspan y="8" x="0">Chart Title</tspan>
                            </text>
                        </g>
                        <g>
                            <g transform="translate(57,53)" visibility="visible">
                                <text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1"
                                      text-anchor="middle" transform="translate(34.714285714285715,317.5)">
                                    <tspan y="6" x="0">category 1</tspan>
                                </text>
                                <text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1"
                                      text-anchor="middle" transform="translate(103.71428571428572,317.5)">
                                    <tspan y="6" x="0">category 2</tspan>
                                </text>
                                <text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1"
                                      text-anchor="middle" transform="translate(173.71428571428572,317.5)">
                                    <tspan y="6" x="0">category 3</tspan>
                                </text>
                                <text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1"
                                      text-anchor="middle" transform="translate(242.71428571428572,317.5)">
                                    <tspan y="6" x="0">category 4</tspan>
                                </text>
                                <text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1"
                                      text-anchor="middle" transform="translate(311.7142857142857,317.5)">
                                    <tspan y="6" x="0">category 5</tspan>
                                </text>
                                <text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1"
                                      text-anchor="middle" transform="translate(381.7142857142857,317.5)">
                                    <tspan y="6" x="0">category 6</tspan>
                                </text>
                                <text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1"
                                      text-anchor="middle" transform="translate(450.7142857142857,317.5)">
                                    <tspan y="6" x="0">category 7</tspan>
                                </text>
                            </g>
                            <g transform="translate(57,53)" visibility="visible">
                                <text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1"
                                      text-anchor="end" transform="translate(-12,299)">
                                    <tspan y="6" x="0">0</tspan>
                                </text>
                                <text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1"
                                      text-anchor="end" transform="translate(-12,266)">
                                    <tspan y="6" x="0">1</tspan>
                                </text>
                                <text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1"
                                      text-anchor="end" transform="translate(-12,232)">
                                    <tspan y="6" x="0">2</tspan>
                                </text>
                                <text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1"
                                      text-anchor="end" transform="translate(-12,199)">
                                    <tspan y="6" x="0">3</tspan>
                                </text>
                                <text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1"
                                      text-anchor="end" transform="translate(-12,166)">
                                    <tspan y="6" x="0">4</tspan>
                                </text>
                                <text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1"
                                      text-anchor="end" transform="translate(-12,132)">
                                    <tspan y="6" x="0">5</tspan>
                                </text>
                                <text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1"
                                      text-anchor="end" transform="translate(-12,99)">
                                    <tspan y="6" x="0">6</tspan>
                                </text>
                                <text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1"
                                      text-anchor="end" transform="translate(-12,66)">
                                    <tspan y="6" x="0">7</tspan>
                                </text>
                                <text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1"
                                      text-anchor="end" transform="translate(-12,32)">
                                    <tspan y="6" x="0">8</tspan>
                                </text>
                                <text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1"
                                      text-anchor="end" transform="translate(-12,-1)">
                                    <tspan y="6" x="0">9</tspan>
                                </text>
                                <text y="6" fill="#000000" font-family="Verdana" font-size="12px" opacity="1"
                                      font-weight="bold" text-anchor="middle"
                                      transform="translate(-36,150) rotate(-90)">
                                    <tspan y="6" x="0">Axis title</tspan>
                                </text>
                            </g>
                        </g>
                        <g></g>
                        <g transform="translate(57,53)"></g>
                        <g></g>
                        <g></g>
                    </svg>
                </div>
                <div class="amChartsLegend amcharts-legend-div"
                     style="overflow: hidden; position: relative; text-align: left; width: 564px; height: 48px;">
                    <svg version="1.1" style="position: absolute; width: 564px; height: 48px; top: 0px; left: 0px;">
                        <desc>JavaScript chart by amCharts 3.21.9</desc>
                        <g transform="translate(57,0)">
                            <path cs="100,100" d="M0.5,0.5 L486.5,0.5 L486.5,37.5 L0.5,37.5 Z" fill="#FFFFFF"
                                  stroke="#000000" fill-opacity="0" stroke-width="1" stroke-opacity="0"></path>
                            <g transform="translate(0,11)">
                                <g cursor="pointer" aria-label="graph 1" transform="translate(0,0)">
                                    <g>
                                        <path cs="100,100" d="M0.5,8.5 L32.5,8.5" fill="none" stroke-width="1"
                                              stroke-opacity="1" stroke="#FF6600"></path>
                                        <circle r="4" cx="0" cy="0" fill="#FF6600" stroke="#000000" fill-opacity="1"
                                                stroke-width="2" stroke-opacity="0"
                                                transform="translate(17,8)"></circle>
                                    </g>
                                    <text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1"
                                          text-anchor="start" transform="translate(37,7)">
                                        <tspan y="6" x="0">graph 1</tspan>
                                    </text>
                                    <text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1"
                                          text-anchor="end" transform="translate(135,7)"></text>
                                    <rect x="32" y="0" width="102.640625" height="18" rx="0" ry="0" stroke-width="0"
                                          stroke="none" fill="#fff" fill-opacity="0.005"></rect>
                                </g>
                                <g cursor="pointer" aria-label="graph 2" transform="translate(150,0)">
                                    <g>
                                        <path cs="100,100" d="M0.5,8.5 L32.5,8.5" fill="none" stroke-width="1"
                                              stroke-opacity="1" stroke="#FCD202"></path>
                                        <path cs="100,100" d="M-3.5,4.5 L4.5,4.5 L4.5,-3.5 L-3.5,-3.5 Z" fill="#FCD202"
                                              stroke="#FCD202" fill-opacity="1" stroke-width="2" stroke-opacity="0"
                                              transform="translate(17,8)"></path>
                                    </g>
                                    <text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1"
                                          text-anchor="start" transform="translate(37,7)">
                                        <tspan y="6" x="0">graph 2</tspan>
                                    </text>
                                    <text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1"
                                          text-anchor="end" transform="translate(135,7)"></text>
                                    <rect x="32" y="0" width="102.640625" height="18" rx="0" ry="0" stroke-width="0"
                                          stroke="none" fill="#fff" fill-opacity="0.005"></rect>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div class="app-editor-2-2-2 ui-layout-pane ui-layout-pane-south"
         style="position: absolute; margin: 0px; top: auto; bottom: 0px; left: 0px; right: 10px; width: auto; z-index: 0; height: 436px; display: block; visibility: visible;">
        <div class="tab-header clearfix">
            <ul class="nav nav-tabs navbar-left">
                <li class="am-tab-data active">
                    <a href="#am-editor-data" data-toggle="tab"><i class="am am-data"></i><span>Data</span></a>
                </li>
                <li class="am-tab-code">
                    <a href="#am-editor-code" data-toggle="tab"><i class="am am-code"></i><span>Code</span></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-buttons navbar-left">
                <li>
                    <a class="am-data-export" href="#"><i class="am am-export"></i><span>Save HTML</span></a>
                </li>
            </ul>
            <ul class="nav nav-pills nav-themes navbar-right am-editor-themes">
                <li class="am-theme-default active" data-theme="default">
                    <a href="#" data-original-title="" title=""></a>
                </li>
                <li class="am-theme-patterns" data-theme="patterns">
                    <a href="#" data-original-title="" title=""></a>
                </li>
                <li class="am-theme-chalk" data-theme="chalk">
                    <a href="#" data-original-title="" title=""></a>
                </li>
                <li class="am-theme-dark" data-theme="dark">
                    <a href="#" data-original-title="" title=""></a>
                </li>
                <li class="am-theme-light" data-theme="light">
                    <a href="#" data-original-title="" title=""></a>
                </li>
                <li class="am-theme-black" data-theme="black">
                    <a href="#" data-original-title="" title=""></a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="am-editor-data">
                <ul class="nav navbar-nav navbar-buttons navbar-left">
                    <li>
                        <a class="am-data-add-row" href="#"><span>Add Row</span><i class="am am-add-row"></i></a>
                    </li>
                    <li class="active">
                        <a class="am-data-add-col" href="#"><span>Add Column</span><i class="am am-add-col"></i></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-buttons navbar-right">
                    <li class="active">
                        <a class="am-data-import" href="#"><span>Import</span><i class="am am-import"></i></a>
                    </li>
                </ul>
                <div class="am-editor-table htRemoveRow handsontable" id="am-editor-table">
                    <div class="wtHolder" style="position: relative;">
                        <div class="wtHider" style="position: relative; overflow: hidden; height: 334px; width: 534px;">
                            <div class="wtSpreader"
                                 style="position: absolute; top: 0px; left: 0px; height: 4000px; width: 4000px;">
                                <table class="htCore">
                                    <colgroup>
                                        <col class="rowHeader">
                                        <col style="width: 178px;">
                                        <col style="width: 178px;">
                                        <col style="width: 178px;">
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th class="htNoFrame htRemoveRow"></th>
                                        <th>
                                            <div class="relative"><span class="colHeader"><i data-name="category"
                                                                                             class="am-data-assign-col am am-add"
                                                                                             data-original-title=""
                                                                                             title=""></i><i
                                                    fieldname="category" class="am-data-remove-col am am-remove"
                                                    data-original-title="" title=""></i><input class="am-data-input-col"
                                                                                               type="text"
                                                                                               value="category"
                                                                                               data-original-title=""
                                                                                               title=""></span></div>
                                        </th>
                                        <th>
                                            <div class="relative"><span class="colHeader"><i data-name="column-1"
                                                                                             class="am-data-assign-col am am-add selected"
                                                                                             style="color: rgb(255, 102, 0); background-color: rgb(255, 102, 0);"
                                                                                             data-original-title=""
                                                                                             title=""></i><i
                                                    fieldname="column-1" class="am-data-remove-col am am-remove"
                                                    data-original-title="" title=""></i><input class="am-data-input-col"
                                                                                               type="text"
                                                                                               value="column-1"
                                                                                               data-original-title=""
                                                                                               title=""></span></div>
                                        </th>
                                        <th>
                                            <div class="relative"><span class="colHeader"><i data-name="column-2"
                                                                                             class="am-data-assign-col am am-add selected"
                                                                                             style="color: rgb(252, 210, 2); background-color: rgb(252, 210, 2);"
                                                                                             data-original-title=""
                                                                                             title=""></i><i
                                                    fieldname="column-2" class="am-data-remove-col am am-remove"
                                                    data-original-title="" title=""></i><input class="am-data-input-col"
                                                                                               type="text"
                                                                                               value="column-2"
                                                                                               data-original-title=""
                                                                                               title=""></span></div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th class="htNoFrame htRemoveRow"><i
                                                class="am-data-remove-row am am-remove"></i></th>
                                        <td class="">category 1</td>
                                        <td class="">8</td>
                                        <td class="">5</td>
                                    </tr>
                                    <tr>
                                        <th class="htNoFrame htRemoveRow"><i
                                                class="am-data-remove-row am am-remove"></i></th>
                                        <td class="">category 2</td>
                                        <td class="">6</td>
                                        <td class="">7</td>
                                    </tr>
                                    <tr>
                                        <th class="htNoFrame htRemoveRow"><i
                                                class="am-data-remove-row am am-remove"></i></th>
                                        <td class="">category 3</td>
                                        <td class="">2</td>
                                        <td class="">3</td>
                                    </tr>
                                    <tr>
                                        <th class="htNoFrame htRemoveRow"><i
                                                class="am-data-remove-row am am-remove"></i></th>
                                        <td class="">category 4</td>
                                        <td class="">1</td>
                                        <td class="">3</td>
                                    </tr>
                                    <tr>
                                        <th class="htNoFrame htRemoveRow"><i
                                                class="am-data-remove-row am am-remove"></i></th>
                                        <td class="">category 5</td>
                                        <td class="">2</td>
                                        <td class="">1</td>
                                    </tr>
                                    <tr>
                                        <th class="htNoFrame htRemoveRow"><i
                                                class="am-data-remove-row am am-remove"></i></th>
                                        <td class="">category 6</td>
                                        <td class="">3</td>
                                        <td class="">2</td>
                                    </tr>
                                    <tr>
                                        <th class="htNoFrame htRemoveRow"><i
                                                class="am-data-remove-row am am-remove"></i></th>
                                        <td class="">category 7</td>
                                        <td class="">6</td>
                                        <td class="">8</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="htBorders">
                                <div style="position: absolute; top: 0px; left: 0px;">
                                    <div class="wtBorder current"
                                         style="background-color: rgb(82, 146, 247); height: 2px; width: 2px; display: none;"></div>
                                    <div class="wtBorder current"
                                         style="background-color: rgb(82, 146, 247); height: 2px; width: 2px; display: none;"></div>
                                    <div class="wtBorder current"
                                         style="background-color: rgb(82, 146, 247); height: 2px; width: 2px; display: none;"></div>
                                    <div class="wtBorder current"
                                         style="background-color: rgb(82, 146, 247); height: 2px; width: 2px; display: none;"></div>
                                    <div class="wtBorder current corner"
                                         style="background-color: rgb(82, 146, 247); height: 5px; width: 5px; border: 2px solid rgb(255, 255, 255); display: none;"></div>
                                </div>
                                <div style="position: absolute; top: 0px; left: 0px;">
                                    <div class="wtBorder area"
                                         style="background-color: rgb(137, 175, 249); height: 1px; width: 1px; display: none;"></div>
                                    <div class="wtBorder area"
                                         style="background-color: rgb(137, 175, 249); height: 1px; width: 1px; display: none;"></div>
                                    <div class="wtBorder area"
                                         style="background-color: rgb(137, 175, 249); height: 1px; width: 1px; display: none;"></div>
                                    <div class="wtBorder area"
                                         style="background-color: rgb(137, 175, 249); height: 1px; width: 1px; display: none;"></div>
                                    <div class="wtBorder area corner"
                                         style="background-color: rgb(137, 175, 249); height: 5px; width: 5px; border: 2px solid rgb(255, 255, 255); display: none;"></div>
                                </div>
                                <div style="position: absolute; top: 0px; left: 0px;">
                                    <div class="wtBorder fill"
                                         style="background-color: red; height: 1px; width: 1px; display: none;"></div>
                                    <div class="wtBorder fill"
                                         style="background-color: red; height: 1px; width: 1px; display: none;"></div>
                                    <div class="wtBorder fill"
                                         style="background-color: red; height: 1px; width: 1px; display: none;"></div>
                                    <div class="wtBorder fill"
                                         style="background-color: red; height: 1px; width: 1px; display: none;"></div>
                                    <div class="wtBorder fill corner"
                                         style="background-color: red; height: 5px; width: 5px; border: 2px solid rgb(255, 255, 255); display: none;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="dragdealer vertical"
                             style="position: absolute; top: 0px; left: 0px; display: none;">
                            <div class="handle" style="top: 0px;"></div>
                        </div>
                        <div class="dragdealer horizontal"
                             style="position: absolute; top: 0px; left: 0px; display: none;">
                            <div class="handle" style="left: 0px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="am-editor-code">
                <textarea class="am-editor-config" id="am-editor-config" rows="3"></textarea>
            </div>
        </div>
    </div>
    <div id="" class="ui-layout-resizer ui-layout-resizer-south ui-layout-resizer-open ui-layout-resizer-south-open"
         title="Resize" aria-disabled="false"
         style="position: absolute; padding: 0px; margin: 0px; font-size: 1px; text-align: left; overflow: hidden; z-index: 2; cursor: s-resize; bottom: 436px; width: 564px; height: 12px; left: 0px;">
        <div id="" class="ui-layout-toggler ui-layout-toggler-south ui-layout-toggler-open ui-layout-toggler-south-open"
             title="Close"
             style="position: absolute; display: block; padding: 0px; margin: 0px; overflow: hidden; text-align: center; font-size: 1px; cursor: pointer; z-index: 1; visibility: visible; width: 50px; height: 12px; left: 257px; top: 0px;"></div>
    </div>
</div>